In [11]:
print("Name:")
print("We will be cleaning heart disease data, and conclude which age group has high risk of heart stroke as per diabetes and hight blood pressure level")
print("We will also find which gender has the most not normal platelets count in blood, and plot a pie chart around it")

Name:
We will be cleaning heart disease data, and conclude which age group has high risk of heart stroke as per diabetes and hight blood pressure level
We will also find which gender has the most not normal platelets count in blood, and plot a pie chart around it

# Task 1 - Find the diabetic and hight blood pressure patients across all age groups, and conclude the risk heart stroke is higher in which age group

In [10]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt 

#read the csv
df = pd.read_csv('heart_disease.csv')
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,gender,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [2]:
#Filter by diabetes(condition will be who has diabetes) and create new dataframe
diabetic_patient = df.loc[df['diabetes'] == 1]
diabetic_patient

In [3]:

#On this new data frame perform group operation as per age and create new dataframe 
groupby_age_diabetes= diabetic_patient.groupby('age')['diabetes'].count().reset_index()
groupby_age_diabetes

In [4]:

#Filter by high_blood_pressure(condition will be who has high_blood_pressure) and create new dataframe
patient_high_bp= df.loc[df['high_blood_pressure'] == 1]
patient_high_bp

In [5]:
#On this new data frame perform group operation as per age and create new dataframe 
groupby_age_bp= patient_high_bp.groupby('age')['high_blood_pressure'].count().reset_index()
groupby_age_bp

In [6]:
##plot the scatter graph to show which age group is more prone to diabetes
plt.figure(figsize=(12, 8))

diabetes = groupby_age_diabetes['diabetes']
age =groupby_age_diabetes['age']

plt.scatter(age, diabetes, label = "diabetic patients")

age2=groupby_age_bp['age']
bp = groupby_age_bp['high_blood_pressure']
plt.scatter(age2, bp, label = "patients with high bp")

plt.xlabel("Age Group", size=14)
plt.ylabel("Diabetic and high blood pressure level", size=14)

plt.legend()

Conclusion -

# Task 2 - Find as per gender who has not normal platelets level in blood

In [7]:
#Filter by platelets(condition lesser then 150000 OR greater then 450000) and create new dataframe
platelets= df.loc[(df['platelets']<=150000.00) | (df['platelets']>=450000.00)]
platelets

In [8]:

#On this new dataframe perform group operation as per gender and create new dataframe 

groupby_gender= platelets.groupby('gender')['platelets'].count().reset_index()
groupby_gender

In [1]:
#Plot a pie chart as per the gender to show the percentage of male and female who has not normal platelets
value =groupby_gender['platelets']
label = groupby_gender['gender']
plt.pie(value,labels=label, autopct='%0.1f%%', radius=2)
plt.show()

NameError: name 'groupby_gender' is not defined

Conclusion -